$active-color: #00a86b;
$remove-color: #dd5145;
$first-color: #007acc;
$default-color: #535353;
$placeholder-color: rgba(0, 0, 0, 0.54);

$bg-main-color: #151823;
$white: #ffffff;
$second-color: #666873;
$bg-default-color: #ededed;
